<!DOCTYPE html>

<html>
    <head>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap cdn -->
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- <link rel="shortcut icon" href="/static/img/" style="width:100%"> -->
    {% block page_specific_script_tag %}{% endblock %}
     <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Lato:400,900" rel="stylesheet">
    <!-- My CSS file -->
    <link rel="stylesheet" href="/static/css/styles.css">

    </head>
        <body>
        	<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">Parachute</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="#">Services <span class="sr-only">(current)</span></a></li>
			        <li><a href="#">Testimonials</a></li>
			        <li><a href="#">About Us</a></li>
			      </ul>	
			      <ul class="nav navbar-nav navbar-right">
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In <span class="caret"></span></a>
	<!-- 		          <ul class="dropdown-menu">
			            <li><a>I am a...</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="#">Host</a></li>
			            <li><a href="#">Partner</a></li>
			          </ul> -->
			          <ul class="dropdown-menu" id="loginDropdown">
				          <li><form action="/dashboard" method="post" accept-charset="UTF-8">
						  <input class="form-control" id="user_username" type="text" name="user[username]" placeholder="username" />
						  <input class="form-control" id="user_password"  type="password" name="user[password]" placeholder= "password"/>
						  <button class="btn btn-default btn-block" type="submit">Log In</button>
						</form>
						</ul>
			        </li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>


            {% block content %}

            {% endblock %}
 </body>
</html>
