{% extends 'base.html' %} 
{% block content %}

<div class="container">
	<div class="row">
		<h1>Current Stay</h1>
		<div class="col-md-4"><img src="/static/img/SleepingKid.jpeg" class="img-thumbnail"></div>
		<div class="col-md-4">
			<h2>Name:</h2>
			<h2>Age:</h2>
			<h2>Bio:</h2>
			<form>
				  <div class="form-group">
				    <h2 for="exampleTextarea">Provide Feedback:</h2>
				    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				  </div>
			</form>
		</div>
		<div class="col-md-4">
			<h2>Match for Next Month</h2>
			<div class="row">
				<div class="col-md-12"><img src="/static/img/SleepingKid.jpeg" class="img-thumbnail"></div>
			</div>
			<h5>Name GOES HERE JINJA FIX</h5>
			<p><span class="glyphicon glyphicon-star" aria-hidden="True"></span>
			<span class="glyphicon glyphicon-star" aria-hidden="True"></span>
			<span class="glyphicon glyphicon-star" aria-hidden="True"></span>
			<span class="glyphicon glyphicon-star" aria-hidden="True"></span>
			</p>
		</div>




		</div>
	</div>
</div>

{% endblock %}