{% extends 'base.html' %} 
{% block page_specific_script_tag %}
<link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}
{% block content %}
<style type="text/css">
body{
	background-color: #f3f3f3;
}

</style>

<div class="container guest-card">
    <div class="row inner-guest-card" >
        <div class="col-md-8 col-sm-12 col-xs-12 rm-padding">
            <div class="col-xs-12 current-guest" >
            	<div class="row col-md-12">
					<h1>Current Guest</h1>
					<div class="col-md-6"><img src="/static/img/johndoe.jpeg" class="img-thumbnail"> <a href="#">View Full Profile</a></div>

					<div class="col-md-6">
						<h5>Name: </h5><p>Phil M</p>
						<h5>Age: </h5><p>65</p>
						<h5>Bio:</h5> <p>Phil is a Vietnam veteran looking to improve his life. He just started working as a Janitor at a local school. He needs a place in order to save enough money for a deposit on an apartment.</p>
					</div>
				</div>
				<div class="row col-md-12">
					<form action='/feedback'>
						  <div class="form-group">
						    <h2 for="exampleTextarea">Provide Feedback:</h2>
						    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
						  </div>
		
						  <div class="checkbox">
						  <label><input type="checkbox" value="">Open to extending stay</label>
						  </div>
						  <button class="btn btn-default" type="submit">Submit</button>
					</form>

				</div>
			</div>
		</div>
        <div class="col-md-3 col-sm-12" id="sidebar">
                <br>
                <h2>Match for Next Month</h2>
					<div class="row">
						<div class="col-md-12"><img src="/static/img/SleepingKid.jpeg" class="img-thumbnail"></div>
					</div>
				<h5>Name: </h5><p>Aida and Jamal W</p>
				<h5>Age: </h5><p>35 and 8</p>
				<h5>Bio: </h5><p>Aida is in the process of interview for jobs. Her son Jamal attend John Muir Middle School in San Leandro and he loves dogs.</p>
				<h5>Rating:</h5><span class="glyphicon glyphicon-star" aria-hidden="True"></span>
				<span class="glyphicon glyphicon-star" aria-hidden="True"></span>
				<span class="glyphicon glyphicon-star" aria-hidden="True"></span>
				<span class="glyphicon glyphicon-star" aria-hidden="True"></span>
				<br>
				<div><a href="#">View Full Profile</a></div>
			</div>

            </div>  
    </div>
</div>
{% endblock %}