{% extends 'base.html' %} 
{% block page_specific_script_tag %}
<link rel="stylesheet" href="/static/css/styles2.css">
{% endblock %}
{% block content %}
<style type="text/css">
body{
    background-color: #f3f3f3;
}

</style>
    <div class="container-fluid col-md-3 sidebar">
    </div>

<div class="container guest-card">
    <div class="row inner-guest-card" >
        <div class="col-md-8 col-sm-12 col-xs-12 rm-padding">
            <div class="col-xs-12 current-guest" >
                <div class="row">
                    <div id="parachute" class="col-md-6"><img src="/static/img/parachute_logo.png" class="img-thumbnail"></div>
                </div>
                <div class="row">
                    <h1>Nancy Meyers, 32</h1>
                </div>
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class-"col-md-4">
                        </div>
                        <div class="col-md-4"><img src="/static/img/blank_profile.jpg" class="img-thumbnail"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}