{% extends 'base.html' %} 
{% block page_specific_script_tag %}
<link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}
{% block content %}
<style type="text/css">
body{
	background-color: #f3f3f3;
}

</style>

<div class="container guest-card">
    <div class="row inner-guest-card" id= "partner-card">
        <div class="col-md-12 rm-padding" >
            <div class="col-xs-12" id="network-info">
            	<div class="row network">
					<h1>Register a new guest</h1> <button class='btn btn-default'>Register New Guest</button>
				</div>
				<br>
				<h1>Guest Network</h1>
				<div class="row network" id='guest-network'>
					<h2>In Housing</h2>
					<div class="row">
                    {% for n in range(5) %}
                        <div class="col-md-4 col-lg-2 guest-image">
                            <div class="thumbnail panel-shadow">
                                <img src="/static/img/johndoe.jpeg">
                                <div class="caption">
                                    <h4 class="thumbnail-title"></h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-md-4 col-lg-2 guest-image">
                            <div class="thumbnail panel-shadow show-more">
                            	<div style="width:157.74px;height:148px;text-align:center;"><br><br><br><br><a href="#">See More</a></div>
                                <div class="caption">
                                    <h4 class="thumbnail-title"></h4>
                                </div>
                            </div>
                        </div>
            		</div>
				</div>
				<br>
				<div class="row network" id='guest-network'>
					<h2>Waiting</h2>
					<div class="row">
                    {% for n in range(5) %}
                        <div class="col-md-4 col-lg-2 guest-image">
                            <div class="thumbnail panel-shadow">
                                <img src="/static/img/johndoe.jpeg">
                                <div class="caption">
                                    <h4 class="thumbnail-title"></h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-md-4 col-lg-2 guest-image">
                            <div class="thumbnail panel-shadow show-more">
                            	<div style="width:157.74px;height:148px;text-align:center;"><br><br><br><br><a href="#">See More</a></div>
                                <div class="caption">
                                    <h4 class="thumbnail-title"></h4>
                                </div>
                            </div>
                        </div>
            		</div>	
            		</div>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock %}